{% with name=panel.model_name, icon="cube", state={"class": panel.state, "content": panel.state} %}
    {% include 'panel_base.html' %}
{% endwith %}
<style>
    .creality_td {
        text-align: right;
    }
    .creality_th {
        text-align: left;
    }
</style>
<img src='/creality/webcam' width="480" style="width: 100%"
     onerror="this.onerror=null;this.src='{{ url_for('static', filename='no-image.png') }}';" alt="Printer Offline">

<center>
    {{ panel.done }}
    <progress id="printing" value="{{ panel.progress }}" max="100">{{ panel.progress }}%
    </progress>
    {{ panel.remaining }}
</center>

{% if panel.state_filename %}
<table style="width: 100%; padding: 5px">
    <tr>

        <th>{{ 'circle-info' | icon }}</th>
        <td class="creality_td">{{ panel.state_message }}</td>
    </tr>
    <tr>
        <th>{{ 'file-export' | icon }}</th>
        <td class="creality_td">{{ panel.state_filename }}</td>
    </tr>
</table>
{% endif %}