<div class="handle">
    <i class="fa-solid fa-cube"></i> {{ panel.model_name }}
    <div class="printer_state {{ panel.state }}"><i class="fa-solid fa-circle"></i> {{ panel.state }}</div>
</div>
<style>
    .creality_td {
        text-align: right;
    }
    .creality_th {
        text-align: left;
    }
    
    .printer_state {
        font-style: oblique;
        float: right;
        text-align: right;
    }

    .printer_state.off, .printer_state.cancelled {
        color: #866060;
    }

    .printer_state.error {
        color: #7c445b;
    }

    .printer_state.complete {
        color: #548054;
    }

    .printer_state.standby {
        color: #988b68;
    }

    .printer_state.printing {
        color: #7e9868;
    }

</style>
<img src='/creality/webcam' width="480" style="width: 100%"
     onerror="this.onerror=null;this.src='{{ url_for('static', filename='no-image.png') }}';" alt="Printer Offline">

<center>
    {{ panel.done }}
    <progress id="printing" value="{{ panel.progress }}" max="100">{{ panel.progress }}%
    </progress>
    {{ panel.remaining }}
</center>

{% if panel.state_filename %}
<table style="width: 100%; padding: 5px">
    <tr>
        <th><i class="fa-solid fa-circle-info"></i></th>
        <td class="creality_td">{{ panel.state_message }}</td>
    </tr>
    <tr>
        <th><i class="fa-solid fa-file-export"></i></th>
        <td class="creality_td">{{ panel.state_filename }}</td>
    </tr>
</table>
{% endif %}