{% with name="Fridge", icon="snowflake" %}
{% include 'panel_base.html' %}
{% endwith %}
<style>
    .fridge-image {
        height: 72px;
        width: 72px;
        object-fit: cover;
    }

    #results {
        width: 100%;
    }

    #products {
        overflow-y: auto;
        height: 400px;
    }

    /* Width of the scrollbar */
    #products::-webkit-scrollbar {
        margin-right: 2px;
    }

    /* Track (background of the scrollbar) */
    #products::-webkit-scrollbar-track {
        background: #3b3b3b;
    }

    /* Handle (the draggable part) */
    #products::-webkit-scrollbar-thumb {
        background: #5f6467;
        border-radius: 4px;
    }

    /* Handle on hover */
    #products::-webkit-scrollbar-thumb:hover {
        background: #696e71;
    }

</style>
<div style="width: 100%; display: flex;">
    <input type="number" id="barcode" maxlength="13" minlength="13" placeholder="Barcode" style="flex: 1;">
    <input type="button" value="+" onclick="addProduct()" style="float: right;">
</div>
<hr>
<div id="products">
    <table id="results" class="list_table">
        <tbody id="products_list">
        {% for product in panel.products %}
        {% include 'product_row.html' %}
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function addProduct() {
        const barcode = document.getElementById('barcode').value;
        document.getElementById('barcode').value = '';
        fetch('/fridge/add_product', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({barcode: barcode})
        })
            .then(response => response.json())
            .then(data => console.log(data));
    }

    function deleteProduct(code) {
        console.log(code);
        fetch('/fridge/remove_product', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({barcode: code})
        })
            .then(response => response.json())
            .then(data => console.log(data));
    }

    const socket = new WebSocket("ws://" + location.host + "/fridge/ws");
    socket.onmessage = function (event) {
        event.data.text().then(function (text) {
            console.log(text);
            document.getElementById('products_list').innerHTML = text;
        });
    };
</script>