<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Raspberry-Pi Control Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Main styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}"> <!-- Search bar styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <!--    <script src="https://kit.fontawesome.com/7600225419.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lucide-static/font/lucide.css">
</head>
<body>
<h1>Raspberry-Pi Control Dashboard</h1>

{% if search_bar %}
<!-- Add Google Search bar above the grid -->
<script async src="https://cse.google.com/cse.js?cx=46115232c08f14310"></script>
<div class="search-container">
    <div class="gcse-searchbox-only" data-resultsurl="https://google.com/search"></div>
</div>
{% endif %}

<div class="grid-container" id="grid">
    <!-- Panels -->
    {% for pindex, pname in panel_list.items() %}
    <div class="grid-item" id="slot-{{ pindex }}">
        <div class="panel" id="{{ pname }}-panel">
            {% if not pname == '' %}
            {% with panel=panel_data[pname] %}
            {% include pname + '.html' %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<script>
    // Initialize SortableJS for the grid container with a handle
    const grid = document.getElementById('grid');
    Sortable.create(grid, {
        animation: 150,
        ghostClass: 'ghost',
        swapThreshold: 0.5,
        handle: '.handle', // Allows dragging only on the title bar
    });

    function copyText(that) {
        var inp = document.createElement('input');
        document.body.appendChild(inp)
        inp.value = that.textContent
        inp.select();
        document.execCommand('copy', false);
        inp.remove();
    }

    function sortTable(tableName, columnIndex) {
        var table = document.getElementById(tableName);
        var rows = Array.from(table.rows).slice(1);
        var isAscending = table.getAttribute("data-sort-asc") === "true";
        table.setAttribute("data-sort-asc", !isAscending);

        rows.sort(function (rowA, rowB) {
            var cellA = rowA.cells[columnIndex].innerText.toLowerCase();
            var cellB = rowB.cells[columnIndex].innerText.toLowerCase();

            if (!isNaN(cellA) && !isNaN(cellB)) {
                // Numeric comparison
                cellA = parseFloat(cellA);
                cellB = parseFloat(cellB);
            }

            if (cellA < cellB) return isAscending ? -1 : 1;
            if (cellA > cellB) return isAscending ? 1 : -1;
            return 0;
        });

        rows.forEach(row => table.tBodies[0].appendChild(row));
    }

    function updatePanelState(panelName, state) {
        // Find the panel by its name
        const panel = document.getElementById(panelName + '-panel');
        if (!panel) {
            console.error('Panel not found:', panelName);
            return;
        }

        //Get the inner 'handle' div and the 'panel_state' div
        const handle = panel.getElementsByClassName('handle')[0];
        if (!handle) {
            console.error('Handle not found in panel:', panelName);
            return;
        }
        //Get the state div
        const stateDiv = handle.getElementsByClassName('panel_state')[0];
        if (!stateDiv) {
            console.error('State div not found in handle:', panelName);
            return;
        }

        // Update the panel state
        let icon = 'circle';
        switch (state) {
            case 'on':
                icon = 'circle';
                break;
            case 'working':
                icon = 'circle-ellipsis';
                break;
            case 'off':
                icon = 'circle-x';
                break;
            case 'complete':
                icon = 'circle-check-big';
                break;
            case 'idle':
                icon = 'circle-pause';
                break;
            case 'error':
                icon = 'circle-alert';
                break;
        }
        stateDiv.className = 'panel_state state ' + state.class;
        stateDiv.innerHTML = '{{ "bim" | icon }}'.replace('bim',icon) + '&nbsp;' + state.content;
    }
</script>
</body>
</html>