{% with name="LAN", icon="network" %}
{% include 'panel_base.html' %}
{% endwith %}
<style>
    .presence-list {
        max-height: 300px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;
    }

    #lan-devices {
        min-height: 100px;
        overflow-y: auto;
    }

    /* Width of the scrollbar */
    #lan-devices::-webkit-scrollbar {
        margin-right: 2px;
    }

    /* Track (background of the scrollbar) */
    #lan-devices::-webkit-scrollbar-track {
        background: #3b3b3b;
    }

    /* Handle (the draggable part) */
    #lan-devices::-webkit-scrollbar-thumb {
        background: #5f6467;
        border-radius: 4px;
    }

    /* Handle on hover */
    #lan-devices::-webkit-scrollbar-thumb:hover {
        background: #696e71;
    }

    .user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 10px;
        border: 1px solid #4e5254;
        border-radius: 5px;
    }

    .user img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .image-not-present {
        filter: grayscale(100%);
    }

    .user-name-status {
        display: table;
        width: 100%;
    }

    .user-name {
        text-align: left;
        display: table-cell;
        margin-top: 5px;
        font-weight: bold;
    }

    .user-status {
        text-align: right;
        display: table-cell;
        font-style: oblique;
        text-align: right;
    }

</style>
<div class="presence-list">
    {% for user, details in panel.users.items() %}
    <div class="user" id="lan-user-{{ user }}">
        <img src="{{ url_for('static', filename='lan_users/' ~ user ~ '.jpg') }}"
             class="{% if not details.present %}image-not-present{% endif %}"
             onerror="this.onerror=null;this.src='{{ url_for('static', filename='no-user.jpg') }}';"
             alt="{{ details.display_name }}">
        <div class="user-name-status">
            <div class="user-name">{{ details.display_name }}</div>
            <div class="user-status state {{ 'on' if details.present else 'off' }}">
                {{ ('on' if details.present else 'off') | status_dot }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<table id="lan-devices" class="list_table">
    <thead>
    <tr>
        <th></th>
        <th onclick="sortTable('lan-devices',1)">Device</th>
        <th onclick="sortTable('lan-devices',2)">IP Address</th>
        <th onclick="sortTable('lan-devices',3)">MAC Address</th>
    </tr>
    </thead>
    <tbody id="lan-devices-entries">
    {% for device in panel.devices %}
    {% include 'lan_entry.html' %}
    {% endfor %}
    </tbody>
</table>

<script>
    const lanSocket = new WebSocket("ws://" + location.host + "/lan/ws");
    lanSocket.onmessage = function (event) {
        const message = JSON.parse(event.data);
        if (message.type === 'devices') {
            document.getElementById("lan-devices-entries").innerHTML = message.data;
        } else if (message.type === 'users') {
            document.querySelector(".presence-list").innerHTML = message.data;
        }
    };
</script>