{% with name="LED Strip Control", icon="swatchbook" %}
{% include 'panel_base.html' %}
{% endwith %}
<script>
    function updateColor() {
        const red = parseInt(document.getElementById('red').value);
        const green = parseInt(document.getElementById('green').value);
        const blue = parseInt(document.getElementById('blue').value);
        const brightness = parseInt(document.getElementById('brightness').value) / 100;

        // Calculate the final RGB values based on brightness
        const r = Math.round(red * brightness);
        const g = Math.round(green * brightness);
        const b = Math.round(blue * brightness);

        // Update the preview box color
        const previewBox = document.getElementById('color-display');
        previewBox.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
    }

    function sendPreset(presetName) {
        const preset = JSON.parse(`{{ panel.presets | tojson }}`);
        const selectedPreset = preset[presetName];

        if (selectedPreset.animation) {
            fetch('/led/start_animation', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    preset: presetName
                })
            })
                .then(response => response.json())
                .then(data => console.log(data));
        } else {
            document.getElementById('red').value = selectedPreset.r / 255.0 * 100;
            document.getElementById('green').value = selectedPreset.g / 255.0 * 100;
            document.getElementById('blue').value = selectedPreset.b / 255.0 * 100;
            updateColor();
            sendColor();
        }
    }

    function sendColor() {
        fetch('/led/set_color', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                r: parseInt(document.getElementById('red').value),
                g: parseInt(document.getElementById('green').value),
                b: parseInt(document.getElementById('blue').value),
                brightness: parseInt(document.getElementById('brightness').value)
            })
        })
            .then(response => response.json())
            .then(data => console.log(data));
    }
</script>

<style>
    #color-display {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        background-color: rgb(128, 128, 128);
        cursor: pointer;
        text-align: center;
    }

    #preset-list {
        max-height: 64px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;
    }
</style>

<div id="preset-list">
    {% for preset_name, preset in panel.presets.items() %}
    <button
            {% if preset.representing_color %}
            style="background-color: {{ preset.representing_color }}"
            {% else %}
            style="background-color: rgb({{ preset.r }}, {{ preset.g }}, {{ preset.b }})"
            {% endif %}
            onclick="sendPreset('{{ preset_name }}')">
        {{ preset.icon | icon }}<br>
        {{ preset_name }}
    </button>
    {% endfor %}
</div>
<label for="red">Red:</label>
<input type="range" id="red" name="red" min="0" max="255" value="{{ panel.r }}" style="
    width: 100%;accent-color: #FF5370"
       oninput="updateColor()"><br>
<label for="green">Green:</label>
<input type="range" id="green" name="green" min="0" max="255" value="{{ panel.g }}" style="
    width: 100%;accent-color: #C3E88D"
       oninput="updateColor()"><br>
<label for="blue">Blue:</label>
<input type="range" id="blue" name="blue" min="0" max="255" value="{{ panel.b }}" style="
    width: 100%;accent-color: #82AAFF"
       oninput="updateColor()"><br>
<label for="brightness">Brightness:</label>
<input type="range" id="brightness" name="brightness" min="0" max="100" value="{{ panel.brightness }}" style="
    width: 100%;accent-color: #B0BEC5"
       oninput="updateColor()"><br>
<div id="color-display" onclick="sendColor()">Set Color</div>